# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Environment variable files
.env

# VS Code settings
.vscode/

# Logs
*.log

# Mac / Windows system files
.DS_Store
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/

# Data files
Data/LIS_FILES
Data/sample.LIS

