# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Virtual environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/


# PyInstaller
#  Usually contains build artifacts for packaging apps
dist/
build/
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.cache
nosetests.xml
test-results.xml
junit-*.xml



# Pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code settings
.vscode/

# macOS
.DS_Store



# Python project environments/configs
*.egg-info/
.eggs/
*.egg
MANIFEST

# Pycharm
.idea/

# Tkinter image cache or other generated UI files (optional)
*.png
*.gif
*.jpg


# Data files
Data/
